{% if metafile.classes.length > 0  %}
import {Entity, Column, PrimaryColumn, ColumnOptions, Index, PrimaryGeneratedColumn} from "typeorm";
import "reflect-metadata";
  {% for class in metafile.classes %}

@Entity()
export class h{{class.name}} {
    @PrimaryGeneratedColumn()
    public __id?: number;

    @Column()
    public __operation: string;

    @Column('timestamp with time zone')
    @Index('ind_h{{class.name}}_changed_date')
    public __changedate: Date;
{% for field in class.fields %}
{% if field.ignoredInHistory===false %}
{% if field.isArray %}
{% if field.type==="number[]"%}
    @Column('int', { 'array': true })
{% elif field.type==="string[]"%}
@Column("simple-array")
{%endif%}
{%else%}
   @Column({%if (field.typeInDecorator) %}'{{field.typeInDecorator}}'{%else%} {%if field.type==="number"%}'integer' {%else%}'string'{%endif%}{%endif%}
{% if (field.type and field.nullable ===true) %}, {'nullable': true}{% endif %})
{%endif%}
{% if field.generateIndex %}
    @Index()
{% endif %}
    public {{field.name}}: {{field.type}};
{% endif %}
{% else %}
{% endfor %}
}
{% else %}
{% endfor %}
{% endif %}