{% if metafile.classes.length > 0  %}
/*Codegen*/
// tslint:disable
/* eslint-disable */

import {Entity, Column, PrimaryColumn, ColumnOptions, Index, PrimaryGeneratedColumn} from 'typeorm';
import 'reflect-metadata';
{% for _import in metafile.imports%}
import { {{_import.name}} } from '{{_import.path}}';
{% endfor %}
{% for class in metafile.classes %}

@Entity('{{class.entityName}}')
export class h{{class.name}} {
    @PrimaryGeneratedColumn()
    public __id?: number;

    @Column()
    public __operation: string;

    @Column('{{timeType}}')
    @Index('ind_h{{class.name}}_changed_date')
    public __changedate: Date;
{% for field in class.fields %}
{% if field.ignoredInHistory===false %}
{% if field.isArray %}
{% if field.type==="number[]"%}
    @Column('int', { 'array': true {% if (field.type and field.nullable ===true) %}, 'nullable': true{% endif %} })
{% elif field.type==="string[]"%}
    @Column('text', { 'array': true {% if (field.type and field.nullable ===true) %}, 'nullable': true{% endif %} })
{% else %}
    @Column({%if (field.typeInDecorator) %}'{{field.typeInDecorator}}',{%endif%}{ 'array': true {% if (field.type and field.nullable ===true) %}, 'nullable': true{% endif %} })
{%endif%}
{%else%}
    @Column({%if (field.typeInDecorator) %}'{{field.typeInDecorator}}'{%else%}{%if field.type==="number"%}'integer' {%elif field.type==="string"%}'text'{%endif%}{%endif%}
{% if (field.type and field.nullable ===true) %}, {'nullable': true}{% endif %})
{%endif%}
{% if field.generateIndex %}
    @Index('{{field.indexName}}')
{% endif %}
    public {{field.name}}: {{field.type}};
{% endif %}
{% else %}
{% endfor %}
}
{% else %}
{% endfor %}
{% endif %}